body {
  background: #f3f1f2;
  font-family: sans-serif;
}

.app {
  margin: 1rem 4rem;
}

.app .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.app .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.app .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.app .ql-editor {
  min-height: 18em;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}


.ql-container.ql-snow {
  height: 500px;
  overflow: scroll;
}


.ql-picker.ql-font .ql-picker-label[data-value="Roboto"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Roboto"]::before
{
    font-family: "Roboto", cursive;;
    content: "Roboto" !important;
}

.ql-picker.ql-font .ql-picker-label[data-value="Vazir"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Vazir"]::before
{
    font-family: "Vazir", cursive;
    font-weight: 300;
    content: "Vazir" !important;
}

.ql-font-Vazir {
  font-family: "Vazir";
  font-weight: 300;
}

.ql-picker.ql-font .ql-picker-label[data-value="Vazir-Bold"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Vazir-Bold"]::before
{
    font-family: "Vazir", cursive;
    font-weight: 800;
    content: "Vazir-Bold" !important;
}

.ql-font-Vazir-Bold {
  font-family: "Vazir";
  font-weight: 800;
}
